<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.test3_mybatis.mapper.ProductMapper">

	<select id="getProductList" resultType="product" parameterType="map">
		-- ProductMapper.xml getProductList
		SELECT *
		  FROM PRODUCT
		 WHERE 1 = 1 
		<if test="product_id != null and !product_id.equals('')">
		   AND PRODUCT_ID = #{product_id} 
		</if> 
		<if test="product_name != null and !product_name.equals('')">
<!-- 		WHERE PRODUCT_NAME LIKE '%${product_name}%' -->
		   AND PRODUCT_NAME LIKE CONCAT('%', #{product_name}, '%')
		</if>
	</select>

	<insert id="registProduct">
		INSERT INTO PRODUCT
		VALUES (#{product_id}
			 ,  #{product_name}
		     ,  #{product_price}
		     ,  #{product_qty}
		     ,  #{product_img})
	</insert>
	
	<update id="updateProduct">
		UPDATE PRODUCT
		   SET PRODUCT_NAME = #{product_name}
             , PRODUCT_PRICE = #{product_price}
             , PRODUCT_QTY = #{product_qty}
             , PRODUCT_IMG = #{product_img}
		 WHERE PRODUCT_ID = #{product_id} 	
	</update>
	
	<delete id="deleteProduct">
		DELETE FROM PRODUCT
		WHERE PRODUCT_ID = #{product_id}
	</delete>
	
</mapper> 